.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  height: 100vh;
}

/* 
1x - 96dpi
2x - 192dpi
3x - 288dpi
*/

.hero {
  max-width: 375px;
  min-height: 211px;
  margin-left: auto;
  margin-right: auto;

  background-image: url('../images/retina/bg-mobile.jpg');
  background-size: cover;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image: url('../images/retina/bg-mobile@2x.jpg');
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 432px;

    background-image: url('../images/retina/bg-tablet.jpg');
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: url('../images/retina/bg-tablet@2x.jpg');
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    min-height: 675px;

    background-image: url('../images/retina/bg-desktop.jpg');
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1200px) {
  .hero {
    background-image: url('../images/retina/bg-desktop@2x.jpg');
  }
}

/* .hero {
  max-width: 1200px;
  min-height: 675px;
  margin-left: auto;
  margin-right: auto;

  background-image: url('../images/retina/bg-desktop.jpg');
  background-size: cover;
} */

.section {
  padding: 50px 0;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
