.wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  outline: 1px solid #000000;
}

.btn {
  display: block;
  padding: 20px 20px;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2980b9;
}

.btn:hover,
.btn:focus {
  background-color: #e74c3c;
}
